{{ if .Site.Data.content.Diplomas }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Formation</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range .Site.Data.content.Diplomas }}
            <li>{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
